<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User info</title>
</head>
<header>
    <div th:insert="header :: copy"></div>
</header>
<body>

<table border="1">User table
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Username</th>
        <th scope="col">Age</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td th:text="${user.getId()}"/>
        <td th:text="${user.getUsername()}"/>
        <td th:text="${user.getAge()}"/>
        <td th:text="${user.getEmail()}"/>
        <td th:text="${user.getRoles()}"/>
    </tr>
    </tbody>
</table>
<br/>
<br/>
<hr/>
</body>
</html>